@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header{
  display: flex;
  justify-content:space-between
}

.header .left-links{
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-left: 12px;
}


.header .right-links{
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-right: 12px;
}

.left-links a{
  text-decoration: none;
  color: gray;
}

.right-links a{
  text-decoration: none;
  color: gray;
}

.footer{
  display: flex;
  justify-content: space-between;
  background-color: rgb(224, 221, 221);
}

.footer .left-links{
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding-left: 12px;
}

.footer .right-links{
  list-style-type: none;
  display: flex;
  gap: 16px;
  padding-right: 12px;
}

.content{
  text-align: center;
  padding-top: 160px;
}